<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="SQLtest">

	<!-- id属性是resultMap的标识id -->
	<resultMap type="com.mybatis.po.User" id="userResultMap">
	<!-- id标签设置查询结果集中的标识(主键),column为标识在数据库中的列名,property为标识在Java类中的属性名 -->
	<id property="id" column="user_id"/>
	<!-- 配置User类中的映射关系 -->
	<result property="username" column="user_name"/>
	<result property="gender" column="user_gender"/>
	<result property="province" column="user_province"/>
	<result property="city" column="user_city"/>
	</resultMap>
	
    <select id="findUserById" parameterType="int" resultType="user">
        SELECT username, password, gender, birthday, email, province, city
         FROM USER WHERE id=#{id}
    </select>
    
    <select id="multiSearch" resultType="user">
    	SELECT * FROM USER
    </select>
    
    <insert id="insertUser" parameterType="user">
    	INSERT INTO USER(username, password, gender, birthday, email, province, city, age)
    	VALUE(#{username}, #{password}, #{gender}, #{birthday, jdbcType=DATE}, #{email}, #{province},
    	#{city}, #{age})
    </insert>
    
    <delete id="deleteUser" parameterType="string">
    	DELETE FROM USER WHERE username=#{value}
    </delete>
    
    <update id="updateUser" parameterType="user">
    	UPDATE USER SET gender=#{gender} WHERE id=#{id}
    </update>
    
</mapper>
