<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="SQLtest">

	<!-- id是resultMap的标识id -->
	<resultMap type="com.mybatis.po.User" id="userMap">
	<!-- id为配置主键,column为主键在数据库中的字段名,property为主键在Java类中的属性名 -->
	<id column="id" property="id"/>
	</resultMap>
	
    <select id="findUserById" parameterType="int" resultType="user">
        SELECT username, password, gender, birthday, email, province, city
         FROM USER WHERE id=#{id}
    </select>
    
    <select id="multiSearch" resultType="user">
    	SELECT * FROM USER
    </select>
    
    <insert id="insertUser" parameterType="user">
    	INSERT INTO USER(username, password, gender, birthday, email, province, city, age)
    	VALUE(#{username}, #{password}, #{gender}, #{birthday, jdbcType=DATE}, #{email}, #{province},
    	#{city}, #{age})
    </insert>
    
    <delete id="deleteUser" parameterType="string">
    	DELETE FROM USER WHERE username=#{value}
    </delete>
    
    <update id="updateUser" parameterType="user">
    	UPDATE USER SET gender=#{gender} WHERE id=#{id}
    </update>
    
</mapper>
