<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="SQLtest">
    <select id="findUserById" parameterType="int" resultType="com.mybatis.po.User">
        SELECT * FROM USER WHERE id=#{id}
    </select>
    
    <insert id="insertUser" parameterType="com.mybatis.po.User">
    	INSERT INTO USER(username, password, gender, birthday, email, province, city)
    	VALUE(#{username}, #{password}, #{gender}, #{birthday,jdbcType=DATE}, #{email}, #{province},
    	#{city})
    </insert>
    
    <delete id="deleteUser" parameterType="java.lang.String">
    	DELETE FROM USER WHERE username=#{value}
    </delete>
    
    <update id="updateUser" parameterType="com.mybatis.po.User">
    	UPDATE USER SET gender=#{gender} WHERE id=#{id}
    </update>
    
    <select id="multiSearch" resultType="com.mybatis.po.User">
    	SELECT * FROM USER
    </select>
</mapper>
